[all:vars]
ansible_user=ubuntu
ansible_password=thispassword
ansible_become_pass=thispassword

_version=1.32.1-00
_cidr=10.244.0.0/16

[master]
YourMasterIP

[worker]
YourWorkerIP1
YourWorkerIP2

[all_server:children]
master
worker
